<div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box search-form-wrap">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              <div class="bio text-center">
                <img src="<%=image_url('person1.jpg') %>" alt="Image Placeholder" class="img-fluid mb-5">
                <div class="bio-body">
                  <h2>NELSON WIDJAYA</h2>
                  <p class="mb-4">An ordinary guy with interest on a lot of things</p>
                  <p><a href="#" class="btn btn-primary btn-sm rounded px-4 py-2">Read my bio</a></p>
                  <p class="social">
                    <a href="https://www.facebook.com/nelson.widjaya" class="p-2" target="_blank"><span class="fa fa-facebook"></span></a>
                   
                  </p>
                </div>
              </div>
            </div>
            <!-- END sidebar-box -->  
            <!--div class="sidebar-box">
              <h3 class="heading">Popular Posts</h3>
              <div class="post-entry-sidebar">
                <ul>
                  <li>
                    <a href="">
                      <img src="<%=image_url('img_1.jpg') %>" alt="Image placeholder" class="mr-4">
                      <div class="text">
                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                        <div class="post-meta">
                          <span class="mr-2">March 15, 2018 </span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="<%=image_url('img_2.jpg') %>" alt="Image placeholder" class="mr-4">
                      <div class="text">
                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                        <div class="post-meta">
                          <span class="mr-2">March 15, 2018 </span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="<%=image_url('img_3.jpg') %>" alt="Image placeholder" class="mr-4">
                      <div class="text">
                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                        <div class="post-meta">
                          <span class="mr-2">March 15, 2018 </span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div-->
            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Categories</h3>
              <ul class="categories">
                <% @categories.each do |category| %>
                <li>
                <%= link_to fronts_category_path(category) do%>
                  <%=category.name%>
                <%end%>
                </li>
               <%end%>
                <!--li><a href="#">Food <span>(12)</span></a></li-->
              </ul>
            </div>
            <!-- END sidebar-box -->

          <!-- END sidebar -->