
    

<%= stylesheet_link_tag "fronts/style.css" %>

   


  
  <div class="site-wrap">
		<%= render 'header'%>

    
    
    
    

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <!--div class="col-12">
            <h2>Recent Posts</h2>
          </div-->
        </div>
        <div class="row">

					<% @games.each do |game| %>

						<div class="col-lg-4 mb-4">
							<div class="entry2">
							
								<%= link_to detail_path(game) do%>
									<%= image_tag(game.cover_image,class:"img-fluid rounded") %>
								<% end %>	
								<div class="excerpt">
								<span class="post-category text-white bg-secondary mb-3"><%= game.category.name%></span>

								<h2><a href="single.html"><%= game.name%></a></h2>
								<div class="post-meta align-items-center text-left clearfix">
									<figure class="author-figure mb-0 mr-3 float-left"><img src="<%=image_url('person1.jpg') %>" alt="Image" class="img-fluid"></figure>
									<span class="d-inline-block mt-1">By <a href="#">NELSON WIDJAYA</a></span>
									<span>&nbsp;-&nbsp; <%=game.created_at%></span>
								</div>
								
									<p><%= game.description%></p>
									<p><%= link_to detail_path(game) do%>
									Read More
									<%end%>
									</p>
								</div>
							</div>
						</div>
					<% end %>


          

        </div>

				

        <!--div class="row text-center pt-5 border-top">
          <div class="col-md-12">
            <div class="custom-pagination">
              <span>1</span>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <span>...</span>
              <a href="#">15</a>
            </div>
          </div>
        </div-->

      </div>
    </div>

    


    
    
    
    <%= render 'footer'%>
    
  </div>

	
