
  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->


	
		<%= render 'header'%>

	<!-- END #fh5co-header -->
	<div class="container-fluid">
		<div class="row fh5co-post-entry">
		<% @games.each do |game| %>
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
						<%= link_to detail_path(game) do%>
						<%= image_tag(game.cover_image,class:"img-responsive") %>
						
						<% end %>	
				</figure>
				<span class="fh5co-meta"><a href="single.html"><%= game.description%></a></span>
				<h2 class="fh5co-article-title"><a href="single.html"><%= game.name%></a></h2>
				<span class="fh5co-meta fh5co-date"><%=game.updated_at%></span>
			</article>
		<% end %>
			


			
			<div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>


			<div class="clearfix visible-xs-block"></div>
		</div>
	</div>

	<%= render 'footer'%>


	

