
<%if @game.errors.any?%>
<h2>THERE IS AN ERROR</h2>
<ul>
  <% @game.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
  <%end%>
</ul>
<%end%>
<div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Form Basic</h6>
                </div>
                <div class="card-body">
                  <%= form_for @game do |f| %>
                  
                    <div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :name,class:"form-control",placeholder:"Enter Name" %>
                      <!--small id="emailHelp" class="form-text text-muted">We'll never share your
                        email with anyone else.</small-->
                    </div>
                    <div class="form-group">
                      <%= f.label :description %>
                      <%= f.text_area :description, class:"form-control",rows:"3" %>
                    </div>


                    <%= select_tag :category_id, options_for_select(@categories.order("id").map{ |c| [c.name, c.id] })%>
                    
                    <div class="form-group">
                      <label for="exampleInputPassword1">Upload Cover Picture (370x254)</label>
                      <div class="custom-file">
                        <%= f.file_field :cover_image,id:"cover", accept: 'image/png,image/gif,image/jpeg' %>
                        
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputPassword1">Upload BIG Cover Picture (800x549)</label>
                      <div class="custom-file">
                        <%= f.file_field :cover_image_big,id:"cover", accept: 'image/png,image/gif,image/jpeg' %>
                        
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputPassword1">Upload Icon Picture (150x150)</label>
                      <div class="custom-file">
                        <%= f.file_field :icon_image,id:"icon", accept: 'image/png,image/gif,image/jpeg' %>
                        
                      </div>
                    </div>
                   
                    <div class="form-group">
                      <label for="exampleInputPassword1">Upload Game</label>
                      <div class="custom-file">
                        <%= f.file_field :game_zip %>
                        
                        
                      </div>
                    </div>
                    
                    <%= f.submit "Submit", class:"btn btn-primary"%>
                  <%end%>
                  
                    
                  
                </div>
              </div>